<<<<<<< HEAD
<h1>Public::Boards#edit</h1>
<p>Find me in app/views/public/boards/edit.html.erb</p>
=======

<!--プレビュー機能があると良い-->
<h2>編集フォーム</h2>
<%= render 'form', board: @board, obj: @board %>


>>>>>>> test
