<div class="row">
	<div class="col-xs-12">

	<!--プレビュー機能があると良い-->


	<h2>新規投稿</h2>
		<%= form_with(model: @board, url:  public_boards_path, local: true) do |f| %>


	<!--投稿フォーム-->
	<%= render 'form', board: @board, obj: @board %>

	</div>

</div>