<div class="row">
	<div class="col-md-11 mt-3">
		<div class="card card-default">
			<div class="card-head thead">
				<h4 class="text-center p-2">新規投稿</h4>
			</div>
			<div class="card-body">
			<!--投稿フォーム-->
			<%= render 'form', board: @board, tags: @tags, obj: @board %>
			</div>
		</div>
	</div>
</div>