<!--フォローボタン-->
<% if user != current_user %>

	<% if user.followed_by?(current_user) %>
	<th>フォロー済: </th>
	<td><%= link_to public_user_relationship_path(user.id), method: :delete, remote: true do %>
		  <i class="far fa-thumbs-up fa-lg">
		  	<%= user.followers.count %>
		  </i>
		<% end %>
	</td>
<% else %>
	<th>フォローする: </th>
	<td><%= link_to public_user_relationships_path(user.id), method: :post, remote: true do %>
	  	  <i class="far fa-thumbs-up fa-lg">
	  	  	<%= user.followings.count %>
	  	  </i>
	  	<% end %>
	</td>
	<% end %>
<% end %>

