<div class='row'>
	<div class='col-md-9 col-md-offset-3'>
		<h3>タグ編集</h3>
	</div>
</div>

<div class='row'>
	<div class='col-md-9'>

		<%= render 'form', tag: @tag, obj: @tag %>

	</div>
</div>

<%#= form_with model: [:admin, @user], local: true do |f| %>
