<div class='row'>
  <div class='col-md-3'>
	<h3>新規登録画面</h3>

    <div class="tag-form">
	  <div class="tag-heading">
	    <h5>タグ追加</h5>
	  </div>
	  <div class="tag-body">
		  <%= render 'form', tag: @tag, obj: @tag %>
	  </div>
	</div>
  </div>


  <div class="col-md-9">
  	<%= render 'index', tags: @tags, obj: @tag %>
  </div>

</div>


