<!--コメントいいね------------------------------>
<% if comment.comment_liked_by?(current_user) %>
  <li>
    <%= link_to public_board_board_comment_comment_likes_path(comment.board_id, comment.id), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;">いいね</i>
    <%= comment.comment_likes.count %>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to public_board_board_comment_comment_likes_path(comment.board_id, comment.id), method: :post do %>


    <i class="fa fa-heart-o" aria-hidden="true" style="color: red;">いいね</i>
    <%= comment.comment_likes.count %>
    <% end %>
  </li>
<% end %>

