<% if obj.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <!-- <div id="error_explanation"> -->
      <strong><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</strong>

      <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>
