<!--toaster導入-->
<!--scssを使用している場合は、@import toastも忘れずに-->

<!--toastrで扱うメソッドは :info :success :error :warning　の４つ。
ただし、flashのシンボルは :alertと　:noticeなので、変換して上げる必要がある-->

<div class="container">
  <div class="row">
    <div class="flash-messages">

      <% flash.each do |type, msg| %>
        <p><% type = 'success' if type == 'notice' %></p>
        <p><% type = 'error' if type == 'alert' %></p>

      <script>
        toastr['<%= type %>']('<%= msg %>');
      </script>
      <% end %>
    </div>
  </div>
</div>