<footer class="text-muted">
  <div class="text-left py-2">
    <span>Copyright by makiharu<span>
  </div>
  <div class="footer-list">
	  <ul class="text-right">
	    <li>運営情報</li>
	    <li>お問い合わせ</li>
	  </ul>
  </div>
</footer>
