<% if todolists.not_done.exists? %>
	<table class="table table-hover table-responsive">
		<tbody>
			<% todolists.not_done.each_with_index do |todolist, i| %>
			<tr>
				<td><%= "#{i + 1}: " %></td>
				<td >
					<%= todolist.content %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="text-center p-3">
		<% if user_signed_in? %>
			<%= link_to '設定はこちらから', todolists_path, class: 'btn btn-outline-info' %>
		<% else %>
			<span>ユーザーは未設定です</span>
		<% end %>
	</div>
<% end %>
