<table class="table table-hover table-responsive">
	<tbody>
		<% todolists.each_with_index do |todolist, i| %>
		<tr>
			<td><%= "#{i + 1}: " %></td>
			<td ><%= link_to todolist.content, edit_public_todolist_path(todolist) %></td>
		</tr>
		<% end %>
	</tbody>
</table>