<table class="table table-hover table-responsive">
	<thead>
		<th>No.</th>
		<th>リスト名</th>
		<th>種別</th>
		<th>編集</th>
		<th></th>
	</thead>

	<tbody>
		<% todolists.each_with_index do |todolist, i| %>
		<div class="time_category_lists">
		<tr>
			<th><%= "#{i + 1}: " %></th>
			<td ><%= todolist.content %></td>
			<td>
			<% todolist.label_lists.each do |label_list| %>
				<span class="badge badge-secondary"><%= label_list.label.name %></span>
			<% end %>
			</td>
			<td>
				<%= link_to edit_public_todolist_path(todolist), class: 'btn btn-sm btn-outline-success', style: 'border-radius: 30%' do %>
				<i class="fas fa-cogs"></i>
				<% end %>
			</td>
		</tr>
		</div>
		<% end %>

	</tbody>
</table>