<div class="row">
	<div class="col-md-5">
		<div class="form-set">

		<%= render 'public/todolists/form', todolist: @todolist, obj: @todolist %>

		</div>
	</div>
</div>


<%= link_to '削除する', public_todolist_path(@todolist),method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'btn btn-outline-danger' %>
<%= link_to '戻る', public_user_path(current_user), class: 'btn btn-dark' %>