<div class="row">
	<div class="col-md-5">

		<%= render 'public/todolists/form', todolist: @todolist, obj: @todolist %>

<!-- 		<%#= form_with model: [:public, @todolist], local: true do |f| %>
		　　<%#= render 'shared/error_messages', obj: @todolist %>
			<div class="form-group">
				<%#= f.text_field :content %>
			</div>
			<div class="form-group">

			</div>

		    <div class="actions">
		    	<%#= f.submit '保存する' %>
			</div>



		<#% end %> -->
		</div>
	</div>


<%= link_to '削除する', public_todolist_path(@todolist), class: 'btn btn-dark' %>
<%= link_to '戻る', public_user_path(current_user), class: 'btn btn-dark' %>