<div class="row">
	<div class="col-md-5">
		<%= render 'form', todolist: @todolist, obj: @todolist %>
	</div>

	<div class="col-md-7">
		<div class="form-set">
			<h3>本日のTodo リスト</h3>
			<div class="text-right">
				<%= link_to 'マイプロフィール', public_user_path(current_user.id), class: 'btn btn-outline-success' %>
			</div>
			<table class="table-hover table-responsive">
				<thead>
					<th colspan="1">リスト一覧</th>
				</thead>
				<tbody>
					<!--each_with_indexは回したときにそれぞれの要素が何番目か返してくれるメソッド-->
					<% @todolists.each_with_index do |todolist, i| %>
					<tr>
						<th><%= "No. #{i + 1}" %></th>
						<td><%= todolist.content %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>