.action {
	margin-top: 30px;
}

/*掲示板フォームの画像投稿*/
.board-image-form {
	margin-top: 30px;
}


.actions {
	margin-top: 20px;
}

.board-show {
	margin: 30px auto;
	border: 3px solid black;
	padding: 25px;
	border-radius: 10px;
}


.board-body {
	padding: 5px;
	border: 2px solid gray; /*質問内容*/
}

.board-profile {
	margin-top: 15px; /*質問の投稿者*/
}


.answer-header {
	margin-top: 20px; /*cssが効いてない*/
}
.answer-form {
  border-bottom: 4px solid gray;
  padding-bottom: 5px;

}

