.follow-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080;
 margin-left: 20px;
 }

.unfollow-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #ffdc00;
 margin-left: 20px;
 }