/*
.tag-form {
	border: 2px solid gray;
	padding: 20px;
	background-color: white;
}*/


.tag-heading {
  margin-bottom: 50px;
}


.tag-heading h5 {
  border-bottom: solid 5px yellow; /*色が途中で変わるような線*/
  position: relative;
  padding-bottom: 3px;
}




.tag-body {
	background-color: white;
	boarder: 3px solid darkskyblue;
    border-radius: 30px;
}