.start-button {
	margin-top: 220px;
}

/*aboutページ*/
.about_heading {
	margin-top: 100px;
}

.about_introduction {
	margin-top: 100px;
}

.about_intro {
	margin-bottom: 30px;
}

.about_guide {
	margin-top: 180px;
}


.about-guide-child-contents {
	margin-top: 70px;
}

.about-guide-one {
	margin: 50px;
}

.about-guide-second {
	margin-top: 100px;
	margin-bottom: 50px;
}

.about-guide-third {
	margin-top: 100px;
	margin-bottom: 50px;
}

.about-guide-fourth {
	margin-top: 100px;
	margin-bottom: 50px;
}

.about-guide-one-image {
	padding-top: 180px;
}


.about-guide-second-image {
	padding-top: 200px;
	margin-right: 100px;
}

.about-guide-third-image {
	padding-top: 180px;
}

.image-one {
	border-radius: 80%;
}


.about-guide-fourth-image {
	padding-top: 130px;
}
