ログインユーザー
マイページ
todolist

<!--サイドバー index,showページ共通-->
<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="form">
			<h4>ユーザーランキング</h4>
			<table class="table table-responsive">
				<tr>
					<th>名前</th>
					<td><%#= @user.name %></td>
				</tr>
				<tr>
					<th>達成済リスト数</th>
					<td></td>
				</tr>
				<tr>
					<th>お気に入り投稿数</th>
					<td><%#= link_to '数字', '#' %></td>
				</tr>
				<tr>
					<th>投稿履歴一覧</th>
					<td></td>
				</tr>
				<tr>
					<th>フォロー一覧</th>
					<td></td>
				</tr>
				<tr>
					<th>フォロワー一覧</th>
					<td></td>
				</tr>
				<tr>
					<%#= link_to '設定', edit_public_user_path(@user.id) %>
				</tr>
			</table>
		</div>
	</div>
</div>


<%= link_to 'マイプロフィール', public_user_path(current_user.id), class: 'btn btn-outline-success' %>




