<div class="row">
	<div class="col-md-4">
		<div class="card card-default mr-5 mt-5">
		<!--プロフィール-->
		<%= render 'public/users/profile', user: current_user %>
		</div>
	</div>

	<div class="col-md-8">
		<div class="board-title">
			<p class="text-right">
				<%= link_to 'マイページへ戻る', user_path(current_user), class: "btn btn-warning" %>
			</p>
		</div>

		<div class="card card-default">
			<div class="card-heading thead p-2">
				<h5 class="text-center">過去の投稿記事一覧  <i class="far fa-list-alt"></i></h5>
			</div>
			<!--過去の記事一覧-->
			<%= render 'public/boards/index', boards: @boards %>
		</div>
	</div>
</div>